# Binaries
**/bin/
bin-int/
Intermediates/
.vs/

# Violet files
*.log
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Violet/vendor/VulkanSDK
Violet/assets/cache
scripts/__pycache__